h1{
text-align: center;
width : 100%;
}

body{ 
background-color: #f8f8fa;
}

.footballs-container{
display: flex; 
gap: 10px; 
border-radius:50px;
box-shadow:0px 0px 100px black;
}

.footballs-container img {
width: 200px;
height: auto;
object-fit: contain;
}