h1{
text-align: center;
width : 100%;
}

head, body{ 
background-color: #f8f8fa;
}

.footballs-container{
display: flex; 
gap: 30px; 
border-radius:20px;
box-shadowing:20px;
color: blue; 
}

.Mitre {
width: 180px;
height: 180px;
object-fit: cover;
}