body.home {
background-image: url("https://media.istockphoto.com/id/2238778067/vector/pale-grey-football-or-soccer-ball-background-pattern.jpg?s=612x612&w=0&k=20&c=WSb9anYKnhMyQmRUhDB5osRsUr2t454UwX1x0K9qN4I=");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed; 
background-position: center;
}